<div class="button" ng-class="{'col-sm-{{content.inputSize}}' : content.inputSize}" view-conditional="content" view-line="content.conditional">
	<a href="" ng-if="!content.openmodal && !content.hide && !content.target" ng-click="location(content, editField)" class="btn" ng-class="content.classe" ng-disabled="content.disabled">
		{{content.title}}
	</a>

	<a ng-if="!content.openmodal && !content.hide && content.target" href="{{content.url}}" target="{{content.target}}" class="btn" ng-class="content.classe" ng-disabled="content.disabled">
		{{content.title}}
	</a>

	<a href="" ng-if="content.openmodal && !content.hide" btn-openmodal modal-scope="content" class="btn" ng-class="content.classe" ng-disabled="content.disabled">
		{{content.title}}
	</a>

	<span ng-if="content.information" class="information">
		<small class="icon info">i</small>
		<span>{{content.information}}</span>
	</span>
</div>

<small ng-if="content.obsSize" class="help-block" ng-class="{'col-sm-{{content.obsSize}}' : content.obsSize}">
	<span ng-if="content.obsLabelSize" class="obsLabel" ng-class="{'col-sm-{{content.obsLabelSize}}' : content.obsLabelSize}"></span>
	<span class="obsText" ng-class="content.classinner" link-bind="content.obs" ng-bind-html="content.obs"></span>
</small>